<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="p2pChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <p2pChat.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>10023</value>
            </setting>
            <setting name="NetworkTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MyName" serializeAs="String">
                <value />
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Noto Sans JP</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MyIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="IconsFolder" serializeAs="String">
                <value />
            </setting>
        </p2pChat.Properties.Settings>
    </userSettings>
</configuration>